<div *ngIf="errors | async">
  <alert type="danger" dismissOnTimeout="5000">
    <strong class="text-center">{{ (errors | async)?.message }}</strong>
  </alert>
</div>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr />
  <div class="form-group">
    <label class="control-label" style="margin-right: 10px;">I am a: </label>
    <label class="radio-inline">
      <input
        class="mr-3"
        type="radio"
        value="male"
        formControlName="gender"
      />Male
    </label>
    <label class="radio-inline ml-3">
      <input
        class="mr-3"
        type="radio"
        value="female"
        formControlName="gender"
      />Female
    </label>
  </div>

  <div class="form-group">
    <input
      type="text"
      [ngClass]="{
        'is-invalid':
          (f.username.touched && f.username.invalid) ||
          (submitted && f.username.errors)
      }"
      class="form-control"
      formControlName="username"
      placeholder="Username"
    />
    <div
      *ngIf="
        (f.username.touched && f.username.invalid) ||
        (submitted && f.username.errors)
      "
      class="invalid-text"
    >
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          (f.knownAs.touched && f.knownAs.invalid) ||
          (submitted && f.knownAs.errors)
      }"
      class="form-control"
      placeholder="Known as"
      formControlName="knownAs"
    />
    <div
      class="invalid-text"
      *ngIf="
        (f.knownAs.touched && f.knownAs.invalid) ||
        (submitted && f.knownAs.errors)
      "
    >
      Known as is required
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          (f.dateOfBirth.touched && f.dateOfBirth.invalid) ||
          (submitted && f.dateOfBirth.errors)
      }"
      class="form-control"
      placeholder="Date of Birth"
      formControlName="dateOfBirth"
      type="text"
      bsDatepicker
      [bsConfig]="bsConfig"
    />
    <div
      class="invalid-text"
      *ngIf="
        (f.dateOfBirth.touched && f.dateOfBirth.invalid) ||
        (submitted && f.dateOfBirth.errors)
      "
    >
      Date of Birth is required
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          (f.city.touched && f.city.invalid) || (submitted && f.city.errors)
      }"
      class="form-control"
      placeholder="City"
      formControlName="city"
    />
    <div
      class="invalid-text"
      *ngIf="(f.city.touched && f.city.invalid) || (submitted && f.city.errors)"
    >
      City is required
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          (f.country.touched && f.country.invalid) ||
          (submitted && f.country.errors)
      }"
      class="form-control"
      placeholder="Country"
      formControlName="country"
    />
    <div
      class="invalid-text"
      *ngIf="
        (f.country.touched && f.country.invalid) ||
        (submitted && f.country.errors)
      "
    >
      Country is required
    </div>
  </div>

  <div class="form-group">
    <input
      type="password"
      [ngClass]="{
        'is-invalid':
          (f.password.touched && f.password.invalid) ||
          (submitted && f.password.errors)
      }"
      class="form-control"
      formControlName="password"
      placeholder="Password"
    />

    <div
      *ngIf="
        (f.password.touched && f.password.invalid) ||
        (submitted && f.password.errors)
      "
      class="invalid-text"
    >
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">
        Password must be at least 6 characters
      </div>
      <div *ngIf="f.password.errors.maxlength">
        Password cannot exceed 8 characters
      </div>
    </div>
  </div>

  <div class="form-group">
    <input
      type="password"
      [ngClass]="{
        'is-invalid':
          (f.confirmPassword.touched && f.confirmPassword.invalid) ||
          (submitted && f.confirmPassword.errors)
      }"
      class="form-control"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
    />

    <div
      *ngIf="
        (f.confirmPassword.touched && f.confirmPassword.invalid) ||
        (submitted && f.confirmPassword.errors)
      "
      class="invalid-text"
    >
      <div *ngIf="f.confirmPassword.errors.required">
        confirmPassword is required
      </div>
      <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
    </div>
  </div>

  <div class="form-group text-center">
    <button
      class="btn btn-primary"
      *ngIf="!(isLoading | async)"
      [disabled]="isLoading | async"
      type="submit"
    >
      Register
    </button>

    <button
      class="btn btn-primary"
      *ngIf="isLoading | async"
      [disabled]="isLoading | async"
      type="button"
    >
      <i class="fa fa-spinner fa-spin" style="font-size: 24px;"></i>
    </button>
    <button class="btn btn-default" (click)="cancel()" type="button">
      Cancel
    </button>
  </div>
</form>
