<div class="row">
  <div class="col-sm-2 img-wrapper" *ngFor="let photo of photos">
    <img
      [src]="photo?.url || authService.defaultImg"
      class="img-thumbnail p-1"
      alt=""
    />
    <!-- [ngClass]="photo?.isApproved && 'not-approved'" -->
    <div class="text-center img-text" *ngIf="photo?.isApproved">
      <span class="text-danger">Awaiting approval</span>
    </div>

    <div class="text-center">
      <button
        type="button"
        class="btn btn-sm mr-1"
        (click)="setMainPhoto(photo)"
        [ngClass]="photo?.isMain ? 'btn-success active' : 'btn-secondary'"
        [disabled]="photo?.isMain"
      >
        Main
      </button>
      <button
        type="button"
        (click)="deletePhoto(photo?.id)"
        class="btn btn-sm btn-danger"
        [disabled]="photo?.isMain"
      >
        <i class="fa fa-trash-o"></i>
      </button>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-3">
    <h3>Add Photos</h3>
    <div
      ng2FileDrop
      [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
      (fileOver)="fileOverBase($event)"
      [uploader]="uploader"
      class="card bg-faded p-3 text-center mb-3 my-drop-zone"
    >
      <i class="fa fa-upload fa-3x"></i>
      Drop Photos Here
    </div>

    <!-- Multiple
    <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br /> -->

    <button (click)="hiddenFileInput.click()" class="btn btn-primary ml-4">
      Select File
    </button>
    <input
      type="file"
      style="display: none;"
      #hiddenFileInput
      ng2FileSelect
      [uploader]="uploader"
    />
  </div>

  <div
    class="col-md-9"
    style="margin-bottom: 40px;"
    *ngIf="uploader?.queue?.length"
  >
    <h3>Upload queue</h3>
    <p>Queue length: {{ uploader?.queue?.length }}</p>
    <table class="table">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td>
            <strong>{{ item?.file?.name }}</strong>
          </td>
          <td *ngIf="uploader.options.isHTML5" nowrap>
            {{ item?.file?.size / 1024 / 1024 | number: ".2" }} MB
          </td>
          <td *ngIf="uploader.options.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
              <div
                class="progress-bar"
                role="progressbar"
                [ngStyle]="{ width: item.progress + '%' }"
              ></div>
            </div>
          </td>
          <td class="text-center">
            <span *ngIf="item.isError"
              ><i class="glyphicon glyphicon-remove"></i
            ></span>
          </td>
          <td nowrap>
            <button
              type="button"
              class="btn btn-danger btn-xs"
              (click)="item.remove()"
            >
              <i class="fa fa-trash"></i> Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <div>
        Queue progress:
        <div class="progress mb-4">
          <div
            class="progress-bar"
            role="progressbar"
            [ngStyle]="{ width: uploader.progress + '%' }"
          ></div>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-success btn-s"
        (click)="uploader.uploadAll()"
        [disabled]="!uploader.getNotUploadedItems().length"
      >
        <span class="fa fa-upload"></span> Upload
      </button>
      &nbsp;
      <button
        type="button"
        class="btn btn-warning btn-s"
        (click)="uploader.cancelAll()"
        [disabled]="!uploader.isUploading"
      >
        <span class="fa fa-ban"></span> Cancel
      </button>
      &nbsp;
      <button
        type="button"
        class="btn btn-danger btn-s"
        (click)="uploader.clearQueue()"
        [disabled]="!uploader.queue.length"
      >
        <span class="fa fa-trash"></span> Remove
      </button>
    </div>
  </div>
</div>
