<div class="container mt-4">
  <div class="row">
    <h1>{{ user?.knownAs || "N/A" }}'s Profile</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          [src]="user?.photoUrl || authService.defaultImg"
          [alt]="user?.knownAs"
        />
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{ user?.city || "N/A" }}, {{ user?.country || "N/A" }}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{ (user?.dateOfBirth | age) || "N/A" }}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{ (user?.lastActive | timeElapsed) || "N/A" }}</p>
          </div>
          <div>
            <strong>Member Since:</strong>
            <p>{{ (user?.createdAt | date: "mediumDate") || "N/A" }}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">Like</button>
            <button class="btn btn-success w-100">Message</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset" #memberTabs>
          <tab heading="About {{ user?.knownAs }}">
            <h4>Description</h4>
            <p>{{ user?.introduction || "N/A" }}</p>
            <h4>Looking For</h4>
            <p>{{ user?.lookingFor || "N/A" }}</p>
          </tab>
          <tab heading="Interests">
            <h4>Interests</h4>
            <p>{{ user?.interests || "N/A" }}</p>
          </tab>
          <tab heading="Photos">
            <div
              class="text-center"
              *ngIf="user.photos && user.photos.length === 0"
            >
              No Images Found!
            </div>
            <ngx-gallery
              *ngIf="galleryImages"
              style="width: 100%; height: 500px;"
              [options]="galleryOptions"
              [images]="galleryImages"
            ></ngx-gallery>
          </tab>
          <tab heading="Messages">
            Messages
            <!-- <app-member-messages [recipientId]="user.id"></app-member-messages> -->
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
