<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>Your Profile</h1>
    </div>
    <div class="col-sm-8">
      <div class="alert alert-info" *ngIf="!editForm.pristine">
        <strong>Information:</strong> You have made changes. Any unsaved changes
        will be lost!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          [src]="user?.photoUrl || authService.defaultImg"
          [alt]="user?.knownAs"
        />
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{ user?.city || "N/A" }}, {{ user?.country || "N/A" }}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{ user?.dateOfBirth | age }}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{ user?.lastActive | timeElapsed }}</p>
          </div>
          <div>
            <strong>Member Since:</strong>
            <p>{{ user?.createdAt | date: "mediumDate" }}</p>
          </div>
        </div>
        <div class="card-footer">
          <button
            [disabled]="editForm.pristine"
            form="editForm"
            class="btn btn-success btn-block"
            *ngIf="!(isLoading$ | async)"
          >
            Save Changes
          </button>
          <button
            class="btn btn-success btn-block"
            *ngIf="isLoading$ | async"
            [disabled]="isLoading$ | async"
            type="button"
          >
            <i class="fa fa-spinner fa-spin" style="font-size: 24px;"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Edit Profile">
            <form
              [formGroup]="editForm"
              id="editForm"
              (ngSubmit)="updateUser()"
            >
              <h4>Description</h4>
              <textarea
                class="form-control"
                name="introduction"
                rows="6"
                formControlName="introduction"
              ></textarea>
              <h4 class="mt-1">Looking For</h4>
              <textarea
                class="form-control"
                name="lookingFor"
                rows="6"
                formControlName="lookingFor"
              ></textarea>
              <h4 class="mt-1">Interests</h4>
              <textarea
                class="form-control"
                name="interests"
                formControlName="interests"
                rows="6"
              ></textarea>
              <h4 class="mt-1">Location Details:</h4>
              <div class="form-inline">
                <label for="city">City&nbsp;</label>
                <input
                  type="text"
                  class="form-control"
                  name="city"
                  formControlName="city"
                />
                <label for="country">&nbsp;Country &nbsp;</label>
                <input
                  type="text"
                  class="form-control"
                  name="country"
                  formControlName="country"
                />
              </div>
            </form>
          </tab>
          <tab heading="Edit Photos">
            <app-photo-editor
              [photos]="user.photos"
              (getMemberPhotoChange)="updateMainPhoto($event)"
            ></app-photo-editor>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
