<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/home']">Dating App</a>
  <ul *ngIf="isAuthenticated | async" class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/members']">Matches</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/lists']">Lists</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/messages']">Messages</a>
    </li>
  </ul>
  <div *ngIf="isAuthenticated | async" class="dropdown" dropdown>
    <span class="mr-1">
      <img
        [src]="(currentUser | async)?.photoUrl || authService.defaultImg"
        [alt]="(currentUser | async)?.username || 'N/A'"
      />
    </span>
    <a class="dropdown-toggle text-light" dropdownToggle>
      Welcome {{ (currentUser | async)?.username }}
    </a>
    <div class="dropdown-menu mt-3" *dropdownMenu>
      <a class="dropdown-item" [routerLink]="['/members/edit']">
        <i class="fa fa-user"></i> Edit Profile</a
      >
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" (click)="onLogout()">
        <i class="fa fa-sign-out"></i> Logout</a
      >
    </div>
  </div>
  &nbsp;
  <form
    *ngIf="!(isAuthenticated | async)"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="form-inline my-2 my-lg-0"
  >
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="Username"
      formControlName="username"
      [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
    />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">First Name is required</div>
    </div>
    <input
      class="form-control mr-sm-2"
      type="password"
      placeholder="Password"
      formControlName="password"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
    />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">
        Password must be at least 6 characters
      </div>
    </div>

    <button
      [disabled]="loginForm.invalid"
      *ngIf="!(isLoading | async)"
      class="btn btn-success my-2 my-sm-0"
      type="submit"
    >
      Login
    </button>
    <button
      class="btn btn-success my-2 my-sm-0"
      *ngIf="isLoading | async"
      [disabled]="isLoading | async"
      type="button"
    >
      <i class="fa fa-spinner fa-spin" style="font-size: 24px;"></i>
    </button>
  </form>
</nav>
