<div class="text-center mt-3">
  <h2>Your matches - {{ (users | async) && (users | async).length }} found</h2>
</div>

<div class="container mt-3">
  <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      name="search"
      [(ngModel)]="userParams.search"
      aria-label="Search"
    />
    <div class="form-group px-2">
      <label for="gender">Sort By: </label>
      <select
        class="form-control ml-1"
        style="width: 130px;"
        id="gender"
        placeholder="Gender"
        [(ngModel)]="userParams.gender"
        name="gender"
      >
        <option *ngFor="let gender of genderList" [value]="gender.value">
          {{ gender.display }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left: 10px;">
      Apply Filters
    </button>
    <button
      type="button"
      class="btn btn-info"
      (click)="resetFilters()"
      style="margin-left: 10px;"
    >
      Reset Filter
    </button>
  </form>
  <br />

  <div class="row">
    <div *ngFor="let user of users | async" class="col-lg-2 col-md-3 col-sm-6">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>
</div>

<div
  class="mt-5 mb-5 text-center"
  *ngIf="(users | async) && (users | async).length === 0"
>
  No Users Found!
</div>

<div class="d-flex justify-content-center" *ngIf="users | async">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="totalItems"
    [itemsPerPage]="itemsPerPage"
    [(ngModel)]="currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
